# Web Scraping Projecct

In [7]:
from bs4 import BeautifulSoup as bs
import requests

In [8]:
url = 'https://en.wikipedia.org/wiki/List_of_largest_companies_in_the_United_States_by_revenue'

page = requests.get(url)

soup = bs(page.text, 'html')

In [16]:
table = soup.find('table', class_ = 'wikitable sortable')

In [23]:
table_titles_html = table.find_all('th')

In [30]:
table_titles = [title.text.strip() for title in table_titles_html]

In [32]:
import pandas as pd

In [33]:
df = pd.DataFrame(columns = table_titles)

In [36]:
rows_data = table.find_all('tr')

In [43]:
for row in rows_data[1:]:
    row_data_html = row.find_all('td')
    row_data = [data.text.strip() for data in row_data_html]

    length = len(df)
    df.loc[length] = row_data

In [44]:
df

,Rank,Name,Industry,Revenue (USD millions),Revenue growth,Employees,Headquarters
0,1,Walmart,Retail,"611,289",6.7%,"2,100,000","Bentonville, Arkansas"
1,2,Amazon,Retail and cloud computing,"513,983",9.4%,"1,540,000","Seattle, Washington"
2,3,ExxonMobil,Petroleum industry,"413,680",44.8%,"62,000","Spring, Texas"
3,4,Apple,Electronics industry,"394,328",7.8%,"164,000","Cupertino, California"
4,5,UnitedHealth Group,Healthcare,"324,162",12.7%,"400,000","Minnetonka, Minnesota"
...,...,...,...,...,...,...,...
95,96,Best Buy,Retail,"46,298",10.6%,"71,100","Richfield, Minnesota"
96,97,Bristol-Myers Squibb,Pharmaceutical industry,"46,159",0.5%,"34,300","New York City, New York"
97,98,United Airlines,Airline,"44,955",82.5%,"92,795","Chicago, Illinois"
98,99,Thermo Fisher Scientific,Laboratory instruments,"44,915",14.5%,"130,000","Waltham, Massachusetts"
99,100,Qualcomm,Technology,"44,200",31.7%,"51,000","San Diego, California"

In [46]:
df.to_csv(r'D:\Data Projects\Python\BiggestCompaniesProject.csv')